<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Wear OS 声明 -->
    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:label="@string/wear_app_name"
        android:theme="@android:style/Theme.DeviceDefault"
        android:allowBackup="false"
        android:supportsRtl="true">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".HelloActivity"
            android:exported="true"
            android:label="@string/wear_app_name"
            android:theme="@android:style/Theme.DeviceDefault">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>